@import "tailwindcss";

::-webkit-scrollbar {
  width: 12px;
  background-color: #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #00cfcf;
  border-radius: 5px;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

body {
  padding-bottom: 50px;
}

.custom-full {
  min-height: 100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}