.about-card {
  width: 100% !important;
  height: 500px !important;
  perspective: 1200px;
}

@media (max-width: 768px) {
  .about-card {
    height: 1500px !important;
  }
}

@media (max-width: 992px) {
  .about-card {
    height: 800px !important;
  }
}



/* کارت داخلی که می‌چرخد */
.about-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  will-change: transform;
}

/* چرخش بر اساس زبان */
.about-card.en .about-inner {
  transform: rotateY(180deg);
}

.about-card.fa .about-inner {
  transform: rotateY(0deg);
}

/* دو سمت کارت */
.en-content,
.fa-content {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 #33333399;
}

/* سمت فارسی (جلو) */
.fa-content {
  border-radius: 10px;
  direction: rtl;
  text-align: justify;
}

/* سمت انگلیسی (پشت) */
.en-content {
  transform: rotateY(180deg);
  direction: ltr;
  text-align: justify;
}

/* دکمه‌ها */
.lang-button {
  border: 1px solid #00cfcf;
  border-radius: 8px;
  transition: 0.2s;
}

.lang-button:hover {
  box-shadow: 0 5px 0 #333;
}

.lang-button.active {
  box-shadow: inset 0 0 2px #333;
  cursor: not-allowed;
}