.fa {
  direction: rtl;
}

.en {
  direction: ltr;
}

.lang-button {
  border: 1px solid #00cfcf;
  border-radius: 8px;
  transition: all 0.2s;

  &:hover {
    border: 1px solid #00cfcf;
    border-radius: 8px;
    box-shadow: 0 5px 0 0px #333333;
  }

  &.active {
    border: 1px solid #00cfcf;
    border-radius: 8px;
    box-shadow: inset 0 0 2px 0 #333333;
    cursor: not-allowed;
  }
}