.card-component .custom-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin: 10px;
  box-sizing: border-box;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card-component .custom-card:hover {
  border: 1px solid #787878;
  transform: scale(1.05);
}

.card-component .custom-card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
