.card-component .custom-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin: 10px;
  box-sizing: border-box;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  user-select: none;
  font-weight: bolder;
  color: black;
  border-radius: 20px 30px 0px 30px ;
  corner-shape:scoop notch square;
}

.card-component .custom-card:hover {
  border: 1px solid #787878;
  transform: scale(1.05);
}

.card-component .custom-card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.used {
  order: -1;
  & > div {
    animation: used 3s alternate;
    border: 1px solid #024bb9 !important;
  }
}

@keyframes used {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
