@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

html,
body {
  font-family: "Roboto Condensed", sans-serif;
  padding-bottom: 50px;
  overflow-x: hidden;
}
nav {
  background: hsla(0,0%,85%,.58);
  backdrop-filter: blur(60px);
  border-bottom: 1px solid white;
  box-shadow: 0 0px 20px #333;

  & .nav-link.active {
    border-bottom: 2px solid blue ;
    border-radius: 0px !important;
  }
}
.custom-full {
  min-height: 100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.custom-change-Theme {
  display: flex;
  align-items: center;
  background: none;
  padding: 0.7em;
  border-radius: 10px;
  box-shadow: 6px 0px 10px -1px rgba(0,0,0,0.15),
	      -6px 0px 10px -1px rgba(0,0,0,0.15);
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: transform 0.5s;
}

.custom-change-Theme:active {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	      inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	      -0.5px -0.5px 0px rgba(255,255,255,1),
	      0.5px 0.5px 0px rgba(0,0,0,0.15),
	      0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  transform: translateY(0.5em);
}

.custom-change-Theme svg {
  transition: transform 0.5s;
}

.custom-change-Theme:hover svg {
  transform: scale(0.9);
  fill: #333333;
}

